.test-page-container{
    width: 100%;
}

.categories-block{
    width: 95%;
    height: 150px;
    color: white;
    margin: 0 auto;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.category{
    width: 150px;
    height: 90px;
    background-color: #263238;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 5px;
    transition: .5s ease-out;
}
.random{
    /* background-image: url("./categoryImgs/random.png"); */
    background-image: url("../../../public/categoryImgs/random.png");
    background-size: cover;
}
.animation{
    background-image: url("../../../public/categoryImgs/animation.png");
    background-size: cover;
}
.games{
    background-image: url("../../../public/categoryImgs/games.png");
    background-size: cover;
}
.imige{
    background-image: url("../../../public/categoryImgs/imige.png");
    background-size: cover;
}
.isskustvo{
    background-image: url("../../../public/categoryImgs/isskustvo.png");
    background-size: cover;
}
.cinema{
    background-image: url("../../../public/categoryImgs/cinema.png");
    background-size: cover;
}
.klubnichka{
    background-image: url("../../../public/categoryImgs/klubnichka.png");
    background-size: cover;
}

.category:hover{
    background-position: left;
    background-color: #ffca28;
    color: black;
}

.category-name{
    width: 80%;
    font-weight: 600;
    font-size: 14px;
}

.sort-block{
    width: 75%;
    margin: 0 auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.sort-rating{
    width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2px;
    padding: 0;
    color: white;
    background-color: #263238;
    border-radius: 10px;
}

.sort-item{
    width: 100%;
    text-align: center;
    padding: 5px 30px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 1px solid #3a454b;
    transition: .2s all ease;
}

.sort-item:hover{
    box-shadow: 0 0 5px #ffca28,inset 0 0 0 1px #ffca28,inset 0 0 5px 0 #ffca28;
    border-color: #ffca28;
    color: #ffca28;
}

.sort-select{
    width: 400px;
    height: 48px;
    border: none;
    color: white;
    background-color: #263238;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.sort-options{
    background-color: #263238;
    color: #ffca28;
    font-size: 12px;
    text-transform: uppercase;
    
}